/* Variables */
$fb-font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
$fb-font-family-alt: 'Helvetica Neue', Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;

$fb-font-size-small: 11px;
$fb-font-size: 13px;
$fb-font-size-large: 16px;

$fb-font-color: #333;
$fb-font-color-medium: #808080;
$fb-font-color-light: #999;

$fb-link-color: #3B5998;

$fb-background-color-light: #F7F7F7;
$fb-background-color-alt: #edeff4;

$fb-border-color-light: #e3e3e3;

/* Utilities */
@mixin sassface-gradient($top: #eee, $bottom: #aaa){
  background: mix($top, $bottom, 50);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, $bottom), color-stop(1, $top));
  background: -moz-linear-gradient(center bottom, $bottom 0%, $top 100%);
  background: gradient(linear, left bottom, left top, color-stop(0, $bottom), color-stop(1, $top));
}

@mixin fb-link {
  color: $fb-link-color;
  text-decoration: none;

  &:hover{
    text-decoration: underline;
  }
}

@mixin fb-text {
  color: $fb-font-color;
  font-size: $fb-font-size;
  font-family: $fb-font-family;
  line-height: 1.3;
}

@mixin fb-panel {
  background: $fb-background-color-light;
  border: 1px solid $fb-border-color-light;
  padding: 10px;
  margin-bottom: 10px;
  font-size: $fb-font-size-small;
  color: $fb-font-color-medium;
}

@mixin fb-panel-alt {
  background: $fb-background-color-alt;
  padding: 4px;
  font-size: $fb-font-size-small;
  margin-bottom: 10px;
}

/* Buttons */
@mixin _fb-button {
  border: 1px solid;
  display: inline-block;
  font-family: $fb-font-family;
  font-weight: bold;
  text-decoration: none;
  padding: 0 14px;
  line-height: 20px;

  &:focus, &:active{
    outline: none;
  }
}

@mixin _fb-button-dark {
  color: #fff;
  background: #5B74A8;
  border-color: #29447E #29447E #1A356E;
  box-shadow: inset 0 1px 0 #8a9cc2;

  &:active{
    background: #4F6AA3;
    border-bottom-color: #29447E;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2) inset;
  }
}

@mixin _fb-button-light {
  @include sassface-gradient(#f5f6f6, #e4e4e3);
  color: $fb-font-color;
  border-color: #999 #999 #888;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #fff;

  &:active{
    background: #DDD;
    border-bottom-color: #999;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2) inset;
  }
}

@mixin fb-button-dark {
  @include _fb-button;
  @include _fb-button-dark;

  font-size: $fb-font-size-small;
}

@mixin fb-button-light {
  @include _fb-button;
  @include _fb-button-light;

  font-size: $fb-font-size-small;
}

@mixin fb-button-medium {
  font-size: $fb-font-size;
  line-height: 26px;
  padding: 0 18px;
}

@mixin fb-button-large {
  font-size: $fb-font-size-large;
  line-height: 30px;
  padding: 0 24px
}

@mixin fb-button-rounded {
  border-radius: 3px;
}

/* Forms */
@mixin fb-input-wrapper {
  margin-bottom: 5px;
}

@mixin fb-label {
  color: $fb-font-color-medium;
  font-size: $fb-font-size-small;
  display: block;
  font-weight: bold;
}

@mixin fb-label-horizontal {
  display: inline-block;
  text-align: right;
  margin-right: 10px;
  line-height: 20px;
  width: 150px;
}

@mixin fb-input {
  border: 1px solid #BDC7D8;
  font-family: $fb-font-family;
  font-size: $fb-font-size-small;
  color: $fb-font-color;
  padding: 3px;
  display: inline-block;

  &:active, &:focus{
    box-shadow: none;
    outline: none;
  }
}

@mixin fb-select {
  @include fb-input;
}
