@import "../sassface";

body{
  @include fb-text;
  margin: 20px auto;
  width: 500px;
}

a{
  @include fb-link;
}

.panel{
  @include fb-panel;
}

.alt-panel{
  @include fb-panel-alt;
}

.buttons .button{
  margin: 5px;
}

.button.dark{
  @include fb-button-dark;
}

.button.light{
  @include fb-button-light;
}

.button.rounded{
  @include fb-button-rounded;
}

.button.medium{
  @include fb-button-medium;
}

.button.large{
  @include fb-button-large;
}

div.input{
  @include fb-input-wrapper;
}

label{
  @include fb-label;
  @include fb-label-horizontal;
}

input{
  @include fb-input;
}

select{
  @include fb-select;
}
